#stc-admin article,
#stc-admin aside,
#stc-admin details,
#stc-admin figcaption,
#stc-admin figure,
#stc-admin footer,
#stc-admin header,
#stc-admin hgroup,
#stc-admin main,
#stc-admin menu,
#stc-admin nav,
#stc-admin section,
#stc-admin summary {
  display: block;
}
#stc-admin audio,
#stc-admin canvas,
#stc-admin progress,
#stc-admin video {
  display: inline-block;
  vertical-align: baseline;
}
#stc-admin audio:not([controls]) {
  display: none;
  height: 0;
}
#stc-admin [hidden],
#stc-admin template {
  display: none;
}
#stc-admin a {
  background-color: transparent;
}
#stc-admin a:active,
#stc-admin a:hover {
  outline: 0;
}
#stc-admin abbr[title] {
  border-bottom: 1px dotted;
}
#stc-admin b,
#stc-admin strong {
  font-weight: bold;
}
#stc-admin dfn {
  font-style: italic;
}
#stc-admin mark {
  background: #ff0;
  color: #000;
}
#stc-admin small {
  font-size: 80%;
}
#stc-admin sub,
#stc-admin sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#stc-admin sup {
  top: -0.5em;
}
#stc-admin sub {
  bottom: -0.25em;
}
#stc-admin img {
  border: 0;
}
#stc-admin svg:not(:root) {
  overflow: hidden;
}
#stc-admin figure {
  margin: 1em 40px;
}
#stc-admin hr {
  box-sizing: content-box;
  height: 0;
}
#stc-admin pre {
  overflow: auto;
}
#stc-admin code,
#stc-admin kbd,
#stc-admin pre,
#stc-admin samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
#stc-admin button,
#stc-admin input,
#stc-admin optgroup,
#stc-admin select,
#stc-admin textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
#stc-admin button {
  overflow: visible;
}
#stc-admin button,
#stc-admin select {
  text-transform: none;
}
#stc-admin button,
#stc-admin html input[type="button"],
#stc-admin input[type="reset"],
#stc-admin input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
#stc-admin button[disabled],
#stc-admin html input[disabled] {
  cursor: default;
}
#stc-admin button::-moz-focus-inner,
#stc-admin input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#stc-admin input {
  line-height: normal;
}
#stc-admin input[type="checkbox"],
#stc-admin input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
#stc-admin input[type="number"]::-webkit-inner-spin-button,
#stc-admin input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
#stc-admin input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
#stc-admin input[type="search"]::-webkit-search-cancel-button,
#stc-admin input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
#stc-admin fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
#stc-admin legend {
  border: 0;
  padding: 0;
}
#stc-admin textarea {
  overflow: auto;
}
#stc-admin optgroup {
  font-weight: bold;
}
#stc-admin table {
  border-collapse: collapse;
  border-spacing: 0;
}
#stc-admin td,
#stc-admin th {
  padding: 0;
}
#stc-admin * {
  box-sizing: border-box;
}
#stc-admin *:before,
#stc-admin *:after {
  box-sizing: border-box;
}
#stc-admin input,
#stc-admin button,
#stc-admin select,
#stc-admin textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
#stc-admin a {
  color: #337ab7;
  text-decoration: none;
}
#stc-admin a:hover,
#stc-admin a:focus {
  color: #23527c;
  text-decoration: underline;
}
#stc-admin a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#stc-admin figure {
  margin: 0;
}
#stc-admin img {
  vertical-align: middle;
}
#stc-admin .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
#stc-admin .img-rounded {
  border-radius: 6px;
}
#stc-admin .img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
#stc-admin .img-circle {
  border-radius: 50%;
}
#stc-admin hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
#stc-admin .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #stc-admin .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #stc-admin .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #stc-admin .container {
    width: 1170px;
  }
}
#stc-admin .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#stc-admin .row {
  margin-left: -15px;
  margin-right: -15px;
}
#stc-admin .col-xs-1,
#stc-admin .col-sm-1,
#stc-admin .col-md-1,
#stc-admin .col-lg-1,
#stc-admin .col-xs-2,
#stc-admin .col-sm-2,
#stc-admin .col-md-2,
#stc-admin .col-lg-2,
#stc-admin .col-xs-3,
#stc-admin .col-sm-3,
#stc-admin .col-md-3,
#stc-admin .col-lg-3,
#stc-admin .col-xs-4,
#stc-admin .col-sm-4,
#stc-admin .col-md-4,
#stc-admin .col-lg-4,
#stc-admin .col-xs-5,
#stc-admin .col-sm-5,
#stc-admin .col-md-5,
#stc-admin .col-lg-5,
#stc-admin .col-xs-6,
#stc-admin .col-sm-6,
#stc-admin .col-md-6,
#stc-admin .col-lg-6,
#stc-admin .col-xs-7,
#stc-admin .col-sm-7,
#stc-admin .col-md-7,
#stc-admin .col-lg-7,
#stc-admin .col-xs-8,
#stc-admin .col-sm-8,
#stc-admin .col-md-8,
#stc-admin .col-lg-8,
#stc-admin .col-xs-9,
#stc-admin .col-sm-9,
#stc-admin .col-md-9,
#stc-admin .col-lg-9,
#stc-admin .col-xs-10,
#stc-admin .col-sm-10,
#stc-admin .col-md-10,
#stc-admin .col-lg-10,
#stc-admin .col-xs-11,
#stc-admin .col-sm-11,
#stc-admin .col-md-11,
#stc-admin .col-lg-11,
#stc-admin .col-xs-12,
#stc-admin .col-sm-12,
#stc-admin .col-md-12,
#stc-admin .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
#stc-admin .col-xs-1,
#stc-admin .col-xs-2,
#stc-admin .col-xs-3,
#stc-admin .col-xs-4,
#stc-admin .col-xs-5,
#stc-admin .col-xs-6,
#stc-admin .col-xs-7,
#stc-admin .col-xs-8,
#stc-admin .col-xs-9,
#stc-admin .col-xs-10,
#stc-admin .col-xs-11,
#stc-admin .col-xs-12 {
  float: left;
}
#stc-admin .col-xs-12 {
  width: 100%;
}
#stc-admin .col-xs-11 {
  width: 91.66666667%;
}
#stc-admin .col-xs-10 {
  width: 83.33333333%;
}
#stc-admin .col-xs-9 {
  width: 75%;
}
#stc-admin .col-xs-8 {
  width: 66.66666667%;
}
#stc-admin .col-xs-7 {
  width: 58.33333333%;
}
#stc-admin .col-xs-6 {
  width: 50%;
}
#stc-admin .col-xs-5 {
  width: 41.66666667%;
}
#stc-admin .col-xs-4 {
  width: 33.33333333%;
}
#stc-admin .col-xs-3 {
  width: 25%;
}
#stc-admin .col-xs-2 {
  width: 16.66666667%;
}
#stc-admin .col-xs-1 {
  width: 8.33333333%;
}
#stc-admin .col-xs-pull-12 {
  right: 100%;
}
#stc-admin .col-xs-pull-11 {
  right: 91.66666667%;
}
#stc-admin .col-xs-pull-10 {
  right: 83.33333333%;
}
#stc-admin .col-xs-pull-9 {
  right: 75%;
}
#stc-admin .col-xs-pull-8 {
  right: 66.66666667%;
}
#stc-admin .col-xs-pull-7 {
  right: 58.33333333%;
}
#stc-admin .col-xs-pull-6 {
  right: 50%;
}
#stc-admin .col-xs-pull-5 {
  right: 41.66666667%;
}
#stc-admin .col-xs-pull-4 {
  right: 33.33333333%;
}
#stc-admin .col-xs-pull-3 {
  right: 25%;
}
#stc-admin .col-xs-pull-2 {
  right: 16.66666667%;
}
#stc-admin .col-xs-pull-1 {
  right: 8.33333333%;
}
#stc-admin .col-xs-pull-0 {
  right: auto;
}
#stc-admin .col-xs-push-12 {
  left: 100%;
}
#stc-admin .col-xs-push-11 {
  left: 91.66666667%;
}
#stc-admin .col-xs-push-10 {
  left: 83.33333333%;
}
#stc-admin .col-xs-push-9 {
  left: 75%;
}
#stc-admin .col-xs-push-8 {
  left: 66.66666667%;
}
#stc-admin .col-xs-push-7 {
  left: 58.33333333%;
}
#stc-admin .col-xs-push-6 {
  left: 50%;
}
#stc-admin .col-xs-push-5 {
  left: 41.66666667%;
}
#stc-admin .col-xs-push-4 {
  left: 33.33333333%;
}
#stc-admin .col-xs-push-3 {
  left: 25%;
}
#stc-admin .col-xs-push-2 {
  left: 16.66666667%;
}
#stc-admin .col-xs-push-1 {
  left: 8.33333333%;
}
#stc-admin .col-xs-push-0 {
  left: auto;
}
#stc-admin .col-xs-offset-12 {
  margin-left: 100%;
}
#stc-admin .col-xs-offset-11 {
  margin-left: 91.66666667%;
}
#stc-admin .col-xs-offset-10 {
  margin-left: 83.33333333%;
}
#stc-admin .col-xs-offset-9 {
  margin-left: 75%;
}
#stc-admin .col-xs-offset-8 {
  margin-left: 66.66666667%;
}
#stc-admin .col-xs-offset-7 {
  margin-left: 58.33333333%;
}
#stc-admin .col-xs-offset-6 {
  margin-left: 50%;
}
#stc-admin .col-xs-offset-5 {
  margin-left: 41.66666667%;
}
#stc-admin .col-xs-offset-4 {
  margin-left: 33.33333333%;
}
#stc-admin .col-xs-offset-3 {
  margin-left: 25%;
}
#stc-admin .col-xs-offset-2 {
  margin-left: 16.66666667%;
}
#stc-admin .col-xs-offset-1 {
  margin-left: 8.33333333%;
}
#stc-admin .col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  #stc-admin .col-sm-1,
  #stc-admin .col-sm-2,
  #stc-admin .col-sm-3,
  #stc-admin .col-sm-4,
  #stc-admin .col-sm-5,
  #stc-admin .col-sm-6,
  #stc-admin .col-sm-7,
  #stc-admin .col-sm-8,
  #stc-admin .col-sm-9,
  #stc-admin .col-sm-10,
  #stc-admin .col-sm-11,
  #stc-admin .col-sm-12 {
    float: left;
  }
  #stc-admin .col-sm-12 {
    width: 100%;
  }
  #stc-admin .col-sm-11 {
    width: 91.66666667%;
  }
  #stc-admin .col-sm-10 {
    width: 83.33333333%;
  }
  #stc-admin .col-sm-9 {
    width: 75%;
  }
  #stc-admin .col-sm-8 {
    width: 66.66666667%;
  }
  #stc-admin .col-sm-7 {
    width: 58.33333333%;
  }
  #stc-admin .col-sm-6 {
    width: 50%;
  }
  #stc-admin .col-sm-5 {
    width: 41.66666667%;
  }
  #stc-admin .col-sm-4 {
    width: 33.33333333%;
  }
  #stc-admin .col-sm-3 {
    width: 25%;
  }
  #stc-admin .col-sm-2 {
    width: 16.66666667%;
  }
  #stc-admin .col-sm-1 {
    width: 8.33333333%;
  }
  #stc-admin .col-sm-pull-12 {
    right: 100%;
  }
  #stc-admin .col-sm-pull-11 {
    right: 91.66666667%;
  }
  #stc-admin .col-sm-pull-10 {
    right: 83.33333333%;
  }
  #stc-admin .col-sm-pull-9 {
    right: 75%;
  }
  #stc-admin .col-sm-pull-8 {
    right: 66.66666667%;
  }
  #stc-admin .col-sm-pull-7 {
    right: 58.33333333%;
  }
  #stc-admin .col-sm-pull-6 {
    right: 50%;
  }
  #stc-admin .col-sm-pull-5 {
    right: 41.66666667%;
  }
  #stc-admin .col-sm-pull-4 {
    right: 33.33333333%;
  }
  #stc-admin .col-sm-pull-3 {
    right: 25%;
  }
  #stc-admin .col-sm-pull-2 {
    right: 16.66666667%;
  }
  #stc-admin .col-sm-pull-1 {
    right: 8.33333333%;
  }
  #stc-admin .col-sm-pull-0 {
    right: auto;
  }
  #stc-admin .col-sm-push-12 {
    left: 100%;
  }
  #stc-admin .col-sm-push-11 {
    left: 91.66666667%;
  }
  #stc-admin .col-sm-push-10 {
    left: 83.33333333%;
  }
  #stc-admin .col-sm-push-9 {
    left: 75%;
  }
  #stc-admin .col-sm-push-8 {
    left: 66.66666667%;
  }
  #stc-admin .col-sm-push-7 {
    left: 58.33333333%;
  }
  #stc-admin .col-sm-push-6 {
    left: 50%;
  }
  #stc-admin .col-sm-push-5 {
    left: 41.66666667%;
  }
  #stc-admin .col-sm-push-4 {
    left: 33.33333333%;
  }
  #stc-admin .col-sm-push-3 {
    left: 25%;
  }
  #stc-admin .col-sm-push-2 {
    left: 16.66666667%;
  }
  #stc-admin .col-sm-push-1 {
    left: 8.33333333%;
  }
  #stc-admin .col-sm-push-0 {
    left: auto;
  }
  #stc-admin .col-sm-offset-12 {
    margin-left: 100%;
  }
  #stc-admin .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  #stc-admin .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  #stc-admin .col-sm-offset-9 {
    margin-left: 75%;
  }
  #stc-admin .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  #stc-admin .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  #stc-admin .col-sm-offset-6 {
    margin-left: 50%;
  }
  #stc-admin .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  #stc-admin .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  #stc-admin .col-sm-offset-3 {
    margin-left: 25%;
  }
  #stc-admin .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  #stc-admin .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  #stc-admin .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  #stc-admin .col-md-1,
  #stc-admin .col-md-2,
  #stc-admin .col-md-3,
  #stc-admin .col-md-4,
  #stc-admin .col-md-5,
  #stc-admin .col-md-6,
  #stc-admin .col-md-7,
  #stc-admin .col-md-8,
  #stc-admin .col-md-9,
  #stc-admin .col-md-10,
  #stc-admin .col-md-11,
  #stc-admin .col-md-12 {
    float: left;
  }
  #stc-admin .col-md-12 {
    width: 100%;
  }
  #stc-admin .col-md-11 {
    width: 91.66666667%;
  }
  #stc-admin .col-md-10 {
    width: 83.33333333%;
  }
  #stc-admin .col-md-9 {
    width: 75%;
  }
  #stc-admin .col-md-8 {
    width: 66.66666667%;
  }
  #stc-admin .col-md-7 {
    width: 58.33333333%;
  }
  #stc-admin .col-md-6 {
    width: 50%;
  }
  #stc-admin .col-md-5 {
    width: 41.66666667%;
  }
  #stc-admin .col-md-4 {
    width: 33.33333333%;
  }
  #stc-admin .col-md-3 {
    width: 25%;
  }
  #stc-admin .col-md-2 {
    width: 16.66666667%;
  }
  #stc-admin .col-md-1 {
    width: 8.33333333%;
  }
  #stc-admin .col-md-pull-12 {
    right: 100%;
  }
  #stc-admin .col-md-pull-11 {
    right: 91.66666667%;
  }
  #stc-admin .col-md-pull-10 {
    right: 83.33333333%;
  }
  #stc-admin .col-md-pull-9 {
    right: 75%;
  }
  #stc-admin .col-md-pull-8 {
    right: 66.66666667%;
  }
  #stc-admin .col-md-pull-7 {
    right: 58.33333333%;
  }
  #stc-admin .col-md-pull-6 {
    right: 50%;
  }
  #stc-admin .col-md-pull-5 {
    right: 41.66666667%;
  }
  #stc-admin .col-md-pull-4 {
    right: 33.33333333%;
  }
  #stc-admin .col-md-pull-3 {
    right: 25%;
  }
  #stc-admin .col-md-pull-2 {
    right: 16.66666667%;
  }
  #stc-admin .col-md-pull-1 {
    right: 8.33333333%;
  }
  #stc-admin .col-md-pull-0 {
    right: auto;
  }
  #stc-admin .col-md-push-12 {
    left: 100%;
  }
  #stc-admin .col-md-push-11 {
    left: 91.66666667%;
  }
  #stc-admin .col-md-push-10 {
    left: 83.33333333%;
  }
  #stc-admin .col-md-push-9 {
    left: 75%;
  }
  #stc-admin .col-md-push-8 {
    left: 66.66666667%;
  }
  #stc-admin .col-md-push-7 {
    left: 58.33333333%;
  }
  #stc-admin .col-md-push-6 {
    left: 50%;
  }
  #stc-admin .col-md-push-5 {
    left: 41.66666667%;
  }
  #stc-admin .col-md-push-4 {
    left: 33.33333333%;
  }
  #stc-admin .col-md-push-3 {
    left: 25%;
  }
  #stc-admin .col-md-push-2 {
    left: 16.66666667%;
  }
  #stc-admin .col-md-push-1 {
    left: 8.33333333%;
  }
  #stc-admin .col-md-push-0 {
    left: auto;
  }
  #stc-admin .col-md-offset-12 {
    margin-left: 100%;
  }
  #stc-admin .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  #stc-admin .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  #stc-admin .col-md-offset-9 {
    margin-left: 75%;
  }
  #stc-admin .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  #stc-admin .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  #stc-admin .col-md-offset-6 {
    margin-left: 50%;
  }
  #stc-admin .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  #stc-admin .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  #stc-admin .col-md-offset-3 {
    margin-left: 25%;
  }
  #stc-admin .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  #stc-admin .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  #stc-admin .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  #stc-admin .col-lg-1,
  #stc-admin .col-lg-2,
  #stc-admin .col-lg-3,
  #stc-admin .col-lg-4,
  #stc-admin .col-lg-5,
  #stc-admin .col-lg-6,
  #stc-admin .col-lg-7,
  #stc-admin .col-lg-8,
  #stc-admin .col-lg-9,
  #stc-admin .col-lg-10,
  #stc-admin .col-lg-11,
  #stc-admin .col-lg-12 {
    float: left;
  }
  #stc-admin .col-lg-12 {
    width: 100%;
  }
  #stc-admin .col-lg-11 {
    width: 91.66666667%;
  }
  #stc-admin .col-lg-10 {
    width: 83.33333333%;
  }
  #stc-admin .col-lg-9 {
    width: 75%;
  }
  #stc-admin .col-lg-8 {
    width: 66.66666667%;
  }
  #stc-admin .col-lg-7 {
    width: 58.33333333%;
  }
  #stc-admin .col-lg-6 {
    width: 50%;
  }
  #stc-admin .col-lg-5 {
    width: 41.66666667%;
  }
  #stc-admin .col-lg-4 {
    width: 33.33333333%;
  }
  #stc-admin .col-lg-3 {
    width: 25%;
  }
  #stc-admin .col-lg-2 {
    width: 16.66666667%;
  }
  #stc-admin .col-lg-1 {
    width: 8.33333333%;
  }
  #stc-admin .col-lg-pull-12 {
    right: 100%;
  }
  #stc-admin .col-lg-pull-11 {
    right: 91.66666667%;
  }
  #stc-admin .col-lg-pull-10 {
    right: 83.33333333%;
  }
  #stc-admin .col-lg-pull-9 {
    right: 75%;
  }
  #stc-admin .col-lg-pull-8 {
    right: 66.66666667%;
  }
  #stc-admin .col-lg-pull-7 {
    right: 58.33333333%;
  }
  #stc-admin .col-lg-pull-6 {
    right: 50%;
  }
  #stc-admin .col-lg-pull-5 {
    right: 41.66666667%;
  }
  #stc-admin .col-lg-pull-4 {
    right: 33.33333333%;
  }
  #stc-admin .col-lg-pull-3 {
    right: 25%;
  }
  #stc-admin .col-lg-pull-2 {
    right: 16.66666667%;
  }
  #stc-admin .col-lg-pull-1 {
    right: 8.33333333%;
  }
  #stc-admin .col-lg-pull-0 {
    right: auto;
  }
  #stc-admin .col-lg-push-12 {
    left: 100%;
  }
  #stc-admin .col-lg-push-11 {
    left: 91.66666667%;
  }
  #stc-admin .col-lg-push-10 {
    left: 83.33333333%;
  }
  #stc-admin .col-lg-push-9 {
    left: 75%;
  }
  #stc-admin .col-lg-push-8 {
    left: 66.66666667%;
  }
  #stc-admin .col-lg-push-7 {
    left: 58.33333333%;
  }
  #stc-admin .col-lg-push-6 {
    left: 50%;
  }
  #stc-admin .col-lg-push-5 {
    left: 41.66666667%;
  }
  #stc-admin .col-lg-push-4 {
    left: 33.33333333%;
  }
  #stc-admin .col-lg-push-3 {
    left: 25%;
  }
  #stc-admin .col-lg-push-2 {
    left: 16.66666667%;
  }
  #stc-admin .col-lg-push-1 {
    left: 8.33333333%;
  }
  #stc-admin .col-lg-push-0 {
    left: auto;
  }
  #stc-admin .col-lg-offset-12 {
    margin-left: 100%;
  }
  #stc-admin .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  #stc-admin .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  #stc-admin .col-lg-offset-9 {
    margin-left: 75%;
  }
  #stc-admin .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  #stc-admin .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  #stc-admin .col-lg-offset-6 {
    margin-left: 50%;
  }
  #stc-admin .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  #stc-admin .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  #stc-admin .col-lg-offset-3 {
    margin-left: 25%;
  }
  #stc-admin .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  #stc-admin .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  #stc-admin .col-lg-offset-0 {
    margin-left: 0%;
  }
}
#stc-admin .clearfix:before,
#stc-admin .clearfix:after,
#stc-admin .container:before,
#stc-admin .container:after,
#stc-admin .container-fluid:before,
#stc-admin .container-fluid:after,
#stc-admin .row:before,
#stc-admin .row:after {
  content: " ";
  display: table;
}
#stc-admin .clearfix:after,
#stc-admin .container:after,
#stc-admin .container-fluid:after,
#stc-admin .row:after {
  clear: both;
}
#stc-admin .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#stc-admin .pull-right {
  float: right !important;
}
#stc-admin .pull-left {
  float: left !important;
}
#stc-admin .hide {
  display: none !important;
}
#stc-admin .show {
  display: block !important;
}
#stc-admin .invisible {
  visibility: hidden;
}
#stc-admin .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
#stc-admin .hidden {
  display: none !important;
}
#stc-admin .affix {
  position: fixed;
}
